@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 10;

    --card: 255 255 255;
    --card-foreground: 10 10 10;

    --popover: 255 255 255;
    --popover-foreground: 10 10 10;

    --primary: 24 24 27;
    --primary-foreground: 250 250 250;

    --secondary: 244 244 245;
    --secondary-foreground: 24 24 27;

    --muted: 244 244 245;
    --muted-foreground: 113 113 122;

    --accent: 244 244 245;
    --accent-foreground: 24 24 27;

    --destructive: 239 68 68;
    --destructive-foreground: 250 250 250;

    --border: 228 228 231;
    --input: 228 228 231;
    --ring: 24 24 27;

    --radius: 0.5rem;
  }

  .dark {
    --background: 10 10 10;
    --foreground: 250 250 250;

    --card: 10 10 10;
    --card-foreground: 250 250 250;

    --popover: 10 10 10;
    --popover-foreground: 250 250 250;

    --primary: 250 250 250;
    --primary-foreground: 24 24 27;

    --secondary: 39 39 42;
    --secondary-foreground: 250 250 250;

    --muted: 39 39 42;
    --muted-foreground: 161 161 170;

    --accent: 39 39 42;
    --accent-foreground: 250 250 250;

    --destructive: 127 29 29;
    --destructive-foreground: 250 250 250;

    --border: 39 39 42;
    --input: 39 39 42;
    --ring: 212 212 216;
  }
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
